*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden; 
    overflow-y: hidden;  
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*back ground animado*/
header{
    width: 100%;
}

.maincont{
    width: 100%;
    height: calc(100vh - 129px);
  /*   background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
    position: relative;
    background-size: 400% 400%;
    animation: change 7s ease-in-out infinite ;   */ 
}

.conCor{
    background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab);
    position: relative;
    background-size: 400% 400%;
    animation: change 7s ease-in-out infinite ;   
}

footer{
    padding: 10px 0;
    text-align: center;
    font-size: 1.2em;
    
}

@keyframes change {
    0%{
        background-position:0 50% ;
    }
    50%{
        background-position:100% 50% ;
    }
    100%{
        background-position: 0 50% ;
    }   
}

